In [62]:
import numpy as np
import pandas as pd
bitcoin_df = pd.read_csv("Data/BTC-USD.csv")
bitcoin_df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0

In [63]:
numNULL = bitcoin_df.isnull().sum().sum()
nullOpen = bitcoin_df['Open'].isnull().sum()
nullHigh = bitcoin_df['High'].isnull().sum()
nullLow = bitcoin_df['Low'].isnull().sum()
nullClose = bitcoin_df['Close'].isnull().sum()
nullAdjClose = bitcoin_df['Adj Close'].isnull().sum()
nullVol = bitcoin_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [64]:
null = bitcoin_df.loc[bitcoin_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
2039  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
2214  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
2217  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
2218  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [65]:
bitcoin_df = bitcoin_df.drop([2039,2214,2217,2218])
null = bitcoin_df.loc[bitcoin_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [66]:
bitcoin_df.to_csv(r'Data/btc_clean.csv',index=False)

In [67]:
import pandas as pd
lit_df = pd.read_csv("Data/LTC-USD.csv")
lit_df.head(10)

         Date     Open     High      Low    Close  Adj Close     Volume
0  2014-09-17  5.08589  5.17077  4.96595  5.05855    5.05855  3071840.0
1  2014-09-18  5.06543  5.06543  4.57996  4.68523    4.68523  4569260.0
2  2014-09-19  4.68729  4.75582  4.25435  4.32777    4.32777  3917450.0
3  2014-09-20  4.32920  4.61608  4.20219  4.28644    4.28644  5490660.0
4  2014-09-21  4.26307  4.30013  4.15499  4.24592    4.24592  2931220.0
5  2014-09-22  4.24593  4.41688  4.21013  4.24235    4.24235  1855960.0
6  2014-09-23  4.23999  4.88135  4.18887  4.74657    4.74657  4661670.0
7  2014-09-24  4.74420  4.74512  4.62769  4.66679    4.66679  2662290.0
8  2014-09-25  4.66588  4.67132  4.44870  4.51465    4.51465  2046960.0
9  2014-09-26  4.50993  4.55182  4.38880  4.43359    4.43359  1548350.0

In [68]:
numNULL = lit_df.isnull().sum().sum()
nullOpen = lit_df['Open'].isnull().sum()
nullHigh = lit_df['High'].isnull().sum()
nullLow = lit_df['Low'].isnull().sum()
nullClose = lit_df['Close'].isnull().sum()
nullAdjClose = lit_df['Adj Close'].isnull().sum()
nullVol = lit_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [69]:
null = lit_df.loc[lit_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
2039  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
2214  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
2217  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
2218  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [70]:
lit_df = lit_df.drop([2039,2214,2217,2218])
null = lit_df.loc[lit_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [71]:
lit_df.to_csv(r'Data/ltc_clean.csv',index=False)

In [72]:
import pandas as pd
eth_df = pd.read_csv("Data/ETH-USD.csv")
eth_df.head(10)

         Date      Open      High       Low     Close  Adj Close     Volume
0  2015-08-07  2.831620  3.536610  2.521120  2.772120   2.772120   164329.0
1  2015-08-08  2.793760  2.798810  0.714725  0.753325   0.753325   674188.0
2  2015-08-09  0.706136  0.879810  0.629191  0.701897   0.701897   532170.0
3  2015-08-10  0.713989  0.729854  0.636546  0.708448   0.708448   405283.0
4  2015-08-11  0.708087  1.131410  0.663235  1.067860   1.067860  1463100.0
5  2015-08-12  1.058750  1.289940  0.883608  1.217440   1.217440  2150620.0
6  2015-08-13  1.222240  1.965070  1.171990  1.827670   1.827670  4068680.0
7  2015-08-14  1.810920  2.261880  1.754750  1.827870   1.827870  4637030.0
8  2015-08-15  1.802890  1.877240  1.570980  1.688900   1.688900  2554360.0
9  2015-08-16  1.684350  1.695240  1.089810  1.566030   1.566030  3550790.0

In [73]:
numNULL = eth_df.isnull().sum().sum()
nullOpen = eth_df['Open'].isnull().sum()
nullHigh = eth_df['High'].isnull().sum()
nullLow = eth_df['Low'].isnull().sum()
nullClose = eth_df['Close'].isnull().sum()
nullAdjClose = eth_df['Adj Close'].isnull().sum()
nullVol = eth_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [74]:
null = eth_df.loc[eth_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
1715  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
1890  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
1893  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
1894  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [75]:
eth_df = eth_df.drop([1715,1890,1893,1894])
null = eth_df.loc[eth_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [76]:
eth_df.to_csv(r'Data/eth_clean.csv',index=False)

In [77]:
gdp= {2014:1.75272E+13,2015:1.82247E+13,2016:1.8715E+13,2017:1.95194E+13,2018:2.05802E+13,2019:2.14332E+13,2020:2.14332E+13,2021:2.14332E+13}

inflation = {2014:1.849827467,2015:1.041461871,2016:1.035268879,2017:1.88368859,2018:2.436001896,2019:1.941945236,2020:2,2021:2}

money_supply = pd.read_csv("Data/M2.csv")

bitcoin_df['GDP'] = ""
bitcoin_df['inflation'] = ""
bitcoin_df['MoneySupply'] = ""
bitcoin_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,,,
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,,,
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,,,
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,,,
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,,,
...,...,...,...,...,...,...,...,...,...,...
2394,2021-04-07,58186.507813,58731.144531,55604.023438,56048.937500,56048.937500,7.564530e+10,,,
2395,2021-04-08,56099.914063,58338.738281,55879.085938,58323.953125,58323.953125,5.305386e+10,,,
2396,2021-04-09,58326.562500,58937.046875,57807.863281,58245.003906,58245.003906,4.665521e+10,,,
2397,2021-04-10,58253.777344,61276.664063,58038.707031,59793.234375,59793.234375,5.823847e+10,,,
2398,2021-04-11,59832.035156,60741.066406,59362.312500,60055.707031,60055.707031,4.802959e+10,,,

In [78]:
import datetime

money = money_supply.loc[0,'M2']
date_money =money_supply.loc[0,'DATE'].split("-")
date_money = [int(i) for i in date_money]
date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
count=0
for index, row in bitcoin_df.iterrows():
    date = int(row['Date'][0:4])
    bitcoin_df.loc[index,'GDP'] = gdp[date]
    bitcoin_df.loc[index,'inflation'] = inflation[date]
    date = row['Date'].split('-')
    date = [int(i) for i in date]
    date = datetime.datetime(date[0],date[1],date[2])
    if date > date_money and count <=281:
        count +=1
        money = money_supply.loc[count,'M2']
        date_money =money_supply.loc[count,'DATE'].split("-")
        date_money = [int(i) for i in date_money]
        date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
    bitcoin_df.loc[index,'MoneySupply'] = money
    #money  = money_supply.loc[0,'M2']
    #date_money =money_supply.loc[0,'DATE']
bitcoin_df.to_csv(r'Data/btc_clean_2.csv',index=False)
bitcoin_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,1.75272e+13,1.84983,11931.5
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,1.75272e+13,1.84983,11931.5
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,1.75272e+13,1.84983,11931.5
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,1.75272e+13,1.84983,11931.5
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,1.75272e+13,1.84983,11931.5
...,...,...,...,...,...,...,...,...,...,...
2394,2021-04-07,58186.507813,58731.144531,55604.023438,56048.937500,56048.937500,7.564530e+10,2.14332e+13,2,18548.7
2395,2021-04-08,56099.914063,58338.738281,55879.085938,58323.953125,58323.953125,5.305386e+10,2.14332e+13,2,18548.7
2396,2021-04-09,58326.562500,58937.046875,57807.863281,58245.003906,58245.003906,4.665521e+10,2.14332e+13,2,18548.7
2397,2021-04-10,58253.777344,61276.664063,58038.707031,59793.234375,59793.234375,5.823847e+10,2.14332e+13,2,18548.7
2398,2021-04-11,59832.035156,60741.066406,59362.312500,60055.707031,60055.707031,4.802959e+10,2.14332e+13,2,18548.7

In [79]:
lit_df['GDP'] = ""
lit_df['inflation'] = ""
lit_df['MoneySupply'] = ""
lit_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2014-09-17,5.085890,5.170770,4.965950,5.058550,5.058550,3.071840e+06,,,
1,2014-09-18,5.065430,5.065430,4.579960,4.685230,4.685230,4.569260e+06,,,
2,2014-09-19,4.687290,4.755820,4.254350,4.327770,4.327770,3.917450e+06,,,
3,2014-09-20,4.329200,4.616080,4.202190,4.286440,4.286440,5.490660e+06,,,
4,2014-09-21,4.263070,4.300130,4.154990,4.245920,4.245920,2.931220e+06,,,
...,...,...,...,...,...,...,...,...,...,...
2394,2021-04-07,237.561569,243.151276,212.226654,219.423676,219.423676,8.711169e+09,,,
2395,2021-04-08,219.846619,228.353668,218.084396,227.003021,227.003021,4.532286e+09,,,
2396,2021-04-09,227.022171,228.967148,220.109406,221.862366,221.862366,3.137325e+09,,,
2397,2021-04-10,221.716019,255.675980,220.200729,255.620193,255.620193,6.686631e+09,,,
2398,2021-04-11,263.798401,263.798401,246.489822,252.966690,252.966690,7.501014e+09,,,

In [80]:
money = money_supply.loc[0,'M2']
date_money =money_supply.loc[0,'DATE'].split("-")
date_money = [int(i) for i in date_money]
date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
count=0
for index, row in lit_df.iterrows():
    date = int(row['Date'][0:4])
    lit_df.loc[index,'GDP'] = gdp[date]
    lit_df.loc[index,'inflation'] = inflation[date]
    date = row['Date'].split('-')
    date = [int(i) for i in date]
    date = datetime.datetime(date[0],date[1],date[2])
    if date > date_money and count <=281:
        count +=1
        money = money_supply.loc[count,'M2']
        date_money =money_supply.loc[count,'DATE'].split("-")
        date_money = [int(i) for i in date_money]
        date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
    lit_df.loc[index,'MoneySupply'] = money
    #money  = money_supply.loc[0,'M2']
    #date_money =money_supply.loc[0,'DATE']
lit_df.to_csv(r'Data/ltc_clean_2.csv',index=False)
lit_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2014-09-17,5.085890,5.170770,4.965950,5.058550,5.058550,3.071840e+06,1.75272e+13,1.84983,11931.5
1,2014-09-18,5.065430,5.065430,4.579960,4.685230,4.685230,4.569260e+06,1.75272e+13,1.84983,11931.5
2,2014-09-19,4.687290,4.755820,4.254350,4.327770,4.327770,3.917450e+06,1.75272e+13,1.84983,11931.5
3,2014-09-20,4.329200,4.616080,4.202190,4.286440,4.286440,5.490660e+06,1.75272e+13,1.84983,11931.5
4,2014-09-21,4.263070,4.300130,4.154990,4.245920,4.245920,2.931220e+06,1.75272e+13,1.84983,11931.5
...,...,...,...,...,...,...,...,...,...,...
2394,2021-04-07,237.561569,243.151276,212.226654,219.423676,219.423676,8.711169e+09,2.14332e+13,2,18548.7
2395,2021-04-08,219.846619,228.353668,218.084396,227.003021,227.003021,4.532286e+09,2.14332e+13,2,18548.7
2396,2021-04-09,227.022171,228.967148,220.109406,221.862366,221.862366,3.137325e+09,2.14332e+13,2,18548.7
2397,2021-04-10,221.716019,255.675980,220.200729,255.620193,255.620193,6.686631e+09,2.14332e+13,2,18548.7
2398,2021-04-11,263.798401,263.798401,246.489822,252.966690,252.966690,7.501014e+09,2.14332e+13,2,18548.7

In [81]:
eth_df['GDP'] = ""
eth_df['inflation'] = ""
eth_df['MoneySupply'] = ""
eth_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2015-08-07,2.831620,3.536610,2.521120,2.772120,2.772120,1.643290e+05,,,
1,2015-08-08,2.793760,2.798810,0.714725,0.753325,0.753325,6.741880e+05,,,
2,2015-08-09,0.706136,0.879810,0.629191,0.701897,0.701897,5.321700e+05,,,
3,2015-08-10,0.713989,0.729854,0.636546,0.708448,0.708448,4.052830e+05,,,
4,2015-08-11,0.708087,1.131410,0.663235,1.067860,1.067860,1.463100e+06,,,
...,...,...,...,...,...,...,...,...,...,...
2070,2021-04-07,2117.728516,2133.187500,1945.442139,1971.077271,1971.077271,3.611627e+10,,,
2071,2021-04-08,1969.133179,2091.516357,1959.079468,2088.573730,2088.573730,2.531296e+10,,,
2072,2021-04-09,2088.772217,2102.873779,2055.163330,2072.108887,2072.108887,1.981247e+10,,,
2073,2021-04-10,2071.111572,2196.996338,2062.787598,2135.942139,2135.942139,2.498624e+10,,,
2074,2021-04-11,2143.174072,2164.046875,2120.289551,2160.133545,2160.133545,2.042438e+10,,,

In [82]:
money = money_supply.loc[0,'M2']
date_money =money_supply.loc[0,'DATE'].split("-")
date_money = [int(i) for i in date_money]
date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
count=0
for index, row in eth_df.iterrows():
    date = int(row['Date'][0:4])
    eth_df.loc[index,'GDP'] = gdp[date]
    eth_df.loc[index,'inflation'] = inflation[date]
    date = row['Date'].split('-')
    date = [int(i) for i in date]
    date = datetime.datetime(date[0],date[1],date[2])
    if date > date_money and count <=281:
        count +=1
        money = money_supply.loc[count,'M2']
        date_money =money_supply.loc[count,'DATE'].split("-")
        date_money = [int(i) for i in date_money]
        date_money = datetime.datetime(date_money[0],date_money[1],date_money[2])
    eth_df.loc[index,'MoneySupply'] = money
    #money  = money_supply.loc[0,'M2']
    #date_money =money_supply.loc[0,'DATE']
eth_df.to_csv(r'Data/eth_clean_2.csv',index=False)
eth_df

,Date,Open,High,Low,Close,Adj Close,Volume,GDP,inflation,MoneySupply
0,2015-08-07,2.831620,3.536610,2.521120,2.772120,2.772120,1.643290e+05,1.82247e+13,1.04146,11937.3
1,2015-08-08,2.793760,2.798810,0.714725,0.753325,0.753325,6.741880e+05,1.82247e+13,1.04146,11925.9
2,2015-08-09,0.706136,0.879810,0.629191,0.701897,0.701897,5.321700e+05,1.82247e+13,1.04146,11929.2
3,2015-08-10,0.713989,0.729854,0.636546,0.708448,0.708448,4.052830e+05,1.82247e+13,1.04146,11943.1
4,2015-08-11,0.708087,1.131410,0.663235,1.067860,1.067860,1.463100e+06,1.82247e+13,1.04146,11955.2
...,...,...,...,...,...,...,...,...,...,...
2070,2021-04-07,2117.728516,2133.187500,1945.442139,1971.077271,1971.077271,3.611627e+10,2.14332e+13,2,18548.7
2071,2021-04-08,1969.133179,2091.516357,1959.079468,2088.573730,2088.573730,2.531296e+10,2.14332e+13,2,18548.7
2072,2021-04-09,2088.772217,2102.873779,2055.163330,2072.108887,2072.108887,1.981247e+10,2.14332e+13,2,18548.7
2073,2021-04-10,2071.111572,2196.996338,2062.787598,2135.942139,2135.942139,2.498624e+10,2.14332e+13,2,18548.7
2074,2021-04-11,2143.174072,2164.046875,2120.289551,2160.133545,2160.133545,2.042438e+10,2.14332e+13,2,18548.7