In [49]:
import pandas as pd
bitcoin_df = pd.read_csv("Data/BTC-USD.csv")
bitcoin_df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0

In [50]:
numNULL = bitcoin_df.isnull().sum().sum()
nullOpen = bitcoin_df['Open'].isnull().sum()
nullHigh = bitcoin_df['High'].isnull().sum()
nullLow = bitcoin_df['Low'].isnull().sum()
nullClose = bitcoin_df['Close'].isnull().sum()
nullAdjClose = bitcoin_df['Adj Close'].isnull().sum()
nullVol = bitcoin_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [51]:
null = bitcoin_df.loc[bitcoin_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
2039  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
2214  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
2217  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
2218  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [52]:
bitcoin_df = bitcoin_df.drop([2039,2214,2217,2218])
null = bitcoin_df.loc[bitcoin_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [53]:
bitcoin_df.to_csv(r'Data/btc_clean.csv',index=False)

In [54]:
import pandas as pd
lit_df = pd.read_csv("Data/LTC-USD.csv")
lit_df.head(10)

         Date     Open     High      Low    Close  Adj Close     Volume
0  2014-09-17  5.08589  5.17077  4.96595  5.05855    5.05855  3071840.0
1  2014-09-18  5.06543  5.06543  4.57996  4.68523    4.68523  4569260.0
2  2014-09-19  4.68729  4.75582  4.25435  4.32777    4.32777  3917450.0
3  2014-09-20  4.32920  4.61608  4.20219  4.28644    4.28644  5490660.0
4  2014-09-21  4.26307  4.30013  4.15499  4.24592    4.24592  2931220.0
5  2014-09-22  4.24593  4.41688  4.21013  4.24235    4.24235  1855960.0
6  2014-09-23  4.23999  4.88135  4.18887  4.74657    4.74657  4661670.0
7  2014-09-24  4.74420  4.74512  4.62769  4.66679    4.66679  2662290.0
8  2014-09-25  4.66588  4.67132  4.44870  4.51465    4.51465  2046960.0
9  2014-09-26  4.50993  4.55182  4.38880  4.43359    4.43359  1548350.0

In [55]:
numNULL = lit_df.isnull().sum().sum()
nullOpen = lit_df['Open'].isnull().sum()
nullHigh = lit_df['High'].isnull().sum()
nullLow = lit_df['Low'].isnull().sum()
nullClose = lit_df['Close'].isnull().sum()
nullAdjClose = lit_df['Adj Close'].isnull().sum()
nullVol = lit_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [56]:
null = lit_df.loc[lit_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
2039  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
2214  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
2217  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
2218  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [57]:
lit_df = lit_df.drop([2039,2214,2217,2218])
null = lit_df.loc[lit_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [65]:
lit_df.to_csv(r'Data/ltc_clean.csv',index=False)

In [59]:
import pandas as pd
eth_df = pd.read_csv("Data/ETH-USD.csv")
eth_df.head(10)

         Date      Open      High       Low     Close  Adj Close     Volume
0  2015-08-07  2.831620  3.536610  2.521120  2.772120   2.772120   164329.0
1  2015-08-08  2.793760  2.798810  0.714725  0.753325   0.753325   674188.0
2  2015-08-09  0.706136  0.879810  0.629191  0.701897   0.701897   532170.0
3  2015-08-10  0.713989  0.729854  0.636546  0.708448   0.708448   405283.0
4  2015-08-11  0.708087  1.131410  0.663235  1.067860   1.067860  1463100.0
5  2015-08-12  1.058750  1.289940  0.883608  1.217440   1.217440  2150620.0
6  2015-08-13  1.222240  1.965070  1.171990  1.827670   1.827670  4068680.0
7  2015-08-14  1.810920  2.261880  1.754750  1.827870   1.827870  4637030.0
8  2015-08-15  1.802890  1.877240  1.570980  1.688900   1.688900  2554360.0
9  2015-08-16  1.684350  1.695240  1.089810  1.566030   1.566030  3550790.0

In [60]:
numNULL = eth_df.isnull().sum().sum()
nullOpen = eth_df['Open'].isnull().sum()
nullHigh = eth_df['High'].isnull().sum()
nullLow = eth_df['Low'].isnull().sum()
nullClose = eth_df['Close'].isnull().sum()
nullAdjClose = eth_df['Adj Close'].isnull().sum()
nullVol = eth_df['Volume'].isnull().sum()
nullTotal = [nullOpen, nullHigh, nullLow, nullClose, nullAdjClose, nullVol]
nullTotal

[4, 4, 4, 4, 4, 4]

In [61]:
null = eth_df.loc[eth_df['Open'].isnull()]
null

            Date  Open  High  Low  Close  Adj Close  Volume
1715  2020-04-17   NaN   NaN  NaN    NaN        NaN     NaN
1890  2020-10-09   NaN   NaN  NaN    NaN        NaN     NaN
1893  2020-10-12   NaN   NaN  NaN    NaN        NaN     NaN
1894  2020-10-13   NaN   NaN  NaN    NaN        NaN     NaN

In [62]:
eth_df = eth_df.drop([1715,1890,1893,1894])
null = eth_df.loc[eth_df['Open'].isnull()]
null

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [64]:
eth_df.to_csv(r'Data/eth_clean.csv',index=False)